@import url('https://fonts.googleapis.com/css?family=Oswald');

$darkgray: #3e3e3e;
$lightgray: #808080;
$offwhite: #efefef;
$border: .125em solid #808080;
$borderrad: 1em;
$btnpadding: .6em;

@mixin stdbutton($fontsize, $width) {
    border: $border;
    border-radius: $borderrad;
    background-color: $darkgray;
    padding: $btnpadding;
    color: $lightgray;
    text-align: center;
    font-size: $fontsize;
    width: $width;
    &:hover {
    color: $darkgray;
    background-color: $lightgray;
    }
}

@mixin dropdown ($dropdownwidth, $fontsize){
    background-color: $offwhite;
    width: $dropdownwidth;
    font-size: $fontsize;
} 
@mixin display($textalign, $fontsize){
    text-align: $textalign;
    font-size: $fontsize;
}


* {
    font-family: 'Oswald';
    &:focus {
        outline: none;
    }
}

body {
    background-color: $lightgray;
}

input {
    width: 45%;
    background-color: $darkgray;
    color: $lightgray;
    border: .125em solid $darkgray; // to hide border, show only bottom
    border-bottom: 2px solid $lightgray;
    font-size: 1.25em;
}

p {
    color: $lightgray;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}

select {
    @include dropdown(45%, 1.25em);
}

button:hover {
    color: $darkgray;
    background-color: $lightgray;
}

.container{
    margin: auto;
    margin-top: 3em;
    width:65em;
    height: 40em;
}

/* ============================================
                   PANEL 1  
============================================= */

.menu {
    float: left;
    background-color: $darkgray;
    width: 30em;
    height: 40em;
    border-radius: .3em;
    padding-top: 1.5em;
    padding-left: 2%;

    button {
        @include stdbutton(1.25em, 48%);
    }
}


/* ======== CALCULATOR ======== */

.maindisplay {
    width: 25em;
    height: 6em;
    margin: auto;
    background-color: $offwhite;
    border-radius: .3em;
    padding: .6em;
    color: $darkgray; // text color
    #topdisplay {
        @include display(left, 1.25em);
    }
    #bottomdisplay {
        @include display(right, 2.5em);
    }
}

.row {
    display: flex;
    padding: .6em;
    button {
        @include stdbutton(1.5em, 25%);
        height: 30%;
        margin-left: .3em;
        margin-right: .3em;
    }
}

/* ======== UNIT CONVERTER ======== */

.converter {
    width: 19em;
    height: 25.6em;
    margin: auto;
    margin-top: 20%;
}

#type {
    @include dropdown(100%, 1.5em);
}

#convert_equal {
    width: 70%;
    margin: 15% 15% 15% 15%;
}
/* ============================================
                   PANEL 1.5
============================================= */
.space{
    width: 5em;
    background-color:red;
}
/* ============================================
                   PANEL 2
============================================= */

.memory {
    overflow: scroll;
    //width: 30em;
    height: 40em;
    text-align: center;
    padding: 10%;
    position: relative;
   

    button {
        @include stdbutton(1.5em, 80%);
        position: absolute;
        bottom: 0;
        left: 10%;
    }
    // centering tabe
    table{
        margin: 0 auto;
    }
    tr{
        &:hover{
            background-color: $darkgray;
            color: $lightgray;
        }
    }
    td {
        text-align: center;
        font-size: 1.5em;
        vertical-align: middle;
        padding: .75em;
        border: 1px solid red;
    }
}
