@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  font-family: 'Oswald'; }
  *:focus {
    outline: none; }

body {
  background-color: #808080; }

input {
  width: 45%;
  background-color: #3e3e3e;
  color: #808080;
  border: 0.125em solid #3e3e3e;
  border-bottom: 2px solid #808080;
  font-size: 1.25em; }

p {
  color: #808080;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em; }

select {
  background-color: #efefef;
  width: 50%;
  font-size: 1.25em; }

tr:hover td {
  background-color: #808080;
  color: #3e3e3e; }

td {
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
  padding: .25em;
  color: #808080; }

.container {
  margin: auto;
  margin-top: 3em;
  width: 65em;
  height: 40em; }

/* ============================================
                   PANEL 1  
============================================= */
.navigation {
  float: left;
  background-color: #3e3e3e;
  width: 30em;
  height: 40em;
  border-radius: .3em;
  padding-top: 1.5em; }
  .navigation a, .navigation button {
    border: 0.125em solid #808080;
    border-radius: 1em;
    background-color: #3e3e3e;
    padding: 0.6em;
    color: #808080;
    text-align: center;
    font-size: 1.25em;
    width: 45%; }
    .navigation a:hover, .navigation button:hover {
      color: #3e3e3e;
      background-color: #808080; }
  .navigation .navButtons {
    text-align: center; }

/* ======== CALCULATOR ======== */
#calculator {
  width: 90%;
  margin: auto; }

.maindisplay {
  height: 6em;
  margin: auto;
  margin-bottom: 1em;
  background-color: #efefef;
  border-radius: .3em;
  padding: .6em;
  color: #3e3e3e; }
  .maindisplay #topdisplay {
    text-align: left;
    font-size: 1.25em; }
  .maindisplay #bottomdisplay {
    text-align: right;
    font-size: 2.5em; }

.btnRow {
  text-align: center;
  padding: .5em .25em .5em .25em;
  margin-left: -2%; }
  .btnRow button {
    border: 0.125em solid #808080;
    border-radius: 1em;
    background-color: #3e3e3e;
    padding: 0.6em;
    color: #808080;
    text-align: center;
    font-size: 1.5em;
    width: 22%;
    height: 30%;
    margin-left: 2.3%; }
    .btnRow button:hover {
      color: #3e3e3e;
      background-color: #808080; }

/* ======== UNIT CONVERTER ======== */
.converter {
  width: 19em;
  height: 25.6em;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 5%; }

#type {
  background-color: #efefef;
  width: 100%;
  font-size: 1.5em; }

#convert_equal {
  width: 70%;
  margin: 15% 15% 15% 15%; }

/* ============================================
                   PANEL 2
============================================= */
.memory {
  height: 40em;
  text-align: center;
  padding: 5%;
  position: relative;
  margin-left: 32em;
  background-color: #3e3e3e;
  border-radius: .3em; }
  .memory button {
    border: 0.125em solid #808080;
    border-radius: 1em;
    background-color: #3e3e3e;
    padding: 0.6em;
    color: #808080;
    text-align: center;
    font-size: 1.5em;
    width: 70%;
    position: absolute;
    bottom: 1em;
    left: 15%; }
    .memory button:hover {
      color: #3e3e3e;
      background-color: #808080; }
  .memory .tableDisplay {
    width: 100%;
    height: 30em;
    overflow: auto; }
    .memory .tableDisplay .table {
      margin: 0 auto;
      overflow-x: hidden; }
