@import url('https://fonts.googleapis.com/css?family=Oswald');

$darkgray: #3e3e3e;
$lightgray: #808080;
$offwhite: #efefef;
$border: .125em solid #808080;
$borderrad: 1em;
$btnpadding: .6em;

@mixin stdbutton($fontsize, $width) {
    border: $border;
    border-radius: $borderrad;
    background-color: $darkgray;
    padding: $btnpadding;
    color: $lightgray;
    text-align: center;
    font-size: $fontsize;
    width: $width;
    &:hover {
    color: $darkgray;
    background-color: $lightgray;
    }
}

@mixin dropdown ($dropdownwidth, $fontsize){
    background-color: $offwhite;
    width: $dropdownwidth;
    font-size: $fontsize;
} 
@mixin display($textalign, $fontsize){
    text-align: $textalign;
    font-size: $fontsize;
}

* {
    font-family: 'Oswald';
    &:focus {
        outline: none;
    }
}

body {
    background-color: $lightgray;
}
input {
    width: 45%;
    background-color: $darkgray;
    color: $lightgray;
    border: .125em solid $darkgray; // to hide border, show only bottom
    border-bottom: 2px solid $lightgray;
    font-size: 1.25em;
}
p {
    color: $lightgray;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}
select {
    @include dropdown(50%, 1.25em);
}
tr {
    &:hover td {
        background-color: $lightgray;
        color: $darkgray;
    }
}
td {
    text-align: center;
    font-size: 1.5em;
    vertical-align: middle;
    padding: .25em;
    color: $lightgray;
}
.container{
    margin: auto;
    margin-top: 3em;
    width:65em;
    height: 40em;
}

/* ============================================
                   PANEL 1  
============================================= */
.navigation {
    float: left;
    background-color: $darkgray;
    width: 30em;
    height: 40em;
    border-radius: .3em;
    padding-top: 1.5em;
    a, button {
        @include stdbutton(1.25em, 45%);
    }
    .navButtons{
        text-align:center;
    }
}

/* ======== CALCULATOR ======== */
#calculator {
    width: 90%;
    margin: auto;
}
.maindisplay {
    height: 6em;
    margin: auto;
    margin-bottom: 1em;
    background-color: $offwhite;
    border-radius: .3em;
    padding: .6em;
    color: $darkgray; // text color
    #topdisplay {
        @include display(left, 1.25em);
    }
    #bottomdisplay {
        @include display(right, 2.5em);
    }
}
.btnRow {
    text-align: center;
    padding: .5em .25em .5em .25em;
    margin-left: -2%;
    button {
        @include stdbutton(1.5em, 22%);
        height: 30%;
        margin-left: 2.3%;
    }
}

/* ======== UNIT CONVERTER ======== */
.converter {
    width: 19em;
    height: 25.6em;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 5%;
}
#type {
    @include dropdown(100%, 1.5em);
}
#convert_equal {
    width: 70%;
    margin: 15% 15% 15% 15%;
}

/* ============================================
                   PANEL 2
============================================= */
.memory {
    height: 40em;
    text-align: center;
    padding: 5%;
    position: relative;
    margin-left: 32em;
    background-color: $darkgray;
    border-radius: .3em;
    button {
        @include stdbutton(1.5em, 70%);
        position: absolute;
        bottom: 1em;
        left: 15%;
    }
    // centering table
    .tableDisplay {
        width: 100%;
        height: 30em;
        overflow: auto;
        .table{
            margin: 0 auto;
            overflow-x: hidden;
        }
    }
}
