@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  font-family: 'Oswald'; }
  *:focus {
    outline: none; }

body {
  background-color: #808080; }

input {
  width: 45%;
  background-color: #3e3e3e;
  color: #808080;
  border: 0.125em solid #3e3e3e;
  border-bottom: 2px solid #808080;
  font-size: 1.25em; }

p {
  color: #808080;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em; }

select {
  background-color: #efefef;
  width: 45%;
  font-size: 1.25em; }

button:hover {
  color: #3e3e3e;
  background-color: #808080; }

.container {
  margin: auto;
  margin-top: 3em;
  width: 60em;
  height: 40em; }

/* ============================================
                   PANEL 1  
============================================= */
.menu {
  float: left;
  background-color: #3e3e3e;
  width: 30em;
  height: 40em;
  border-radius: .3em;
  padding: 1.5em; }
  .menu button {
    border: 0.125em solid #808080;
    border-radius: 1em;
    background-color: #3e3e3e;
    padding: 0.6em;
    color: #808080;
    text-align: center;
    font-size: 1.25em;
    width: 45%; }
    .menu button:hover {
      color: #3e3e3e;
      background-color: #808080; }

/* ======== CALCULATOR ======== */
.maindisplay {
  width: 25em;
  height: 6em;
  margin: auto;
  background-color: #efefef;
  border-radius: .3em;
  padding: .6em;
  color: #3e3e3e; }
  .maindisplay #topdisplay {
    text-align: left;
    font-size: 1.25em; }
  .maindisplay #bottomdisplay {
    text-align: right;
    font-size: 2.5em; }

.row {
  display: flex;
  padding: .6em; }
  .row button {
    border: 0.125em solid #808080;
    border-radius: 1em;
    background-color: #3e3e3e;
    padding: 0.6em;
    color: #808080;
    text-align: center;
    font-size: 1.5em;
    width: 25%;
    height: 30%;
    margin-left: .3em;
    margin-right: .3em; }
    .row button:hover {
      color: #3e3e3e;
      background-color: #808080; }

/* ======== UNIT CONVERTER ======== */
.converter {
  width: 19em;
  height: 25.6em;
  margin: auto;
  margin-top: 20%; }

#type {
  background-color: #efefef;
  width: 100%;
  font-size: 1.5em; }

#convert_equal {
  width: 70%;
  margin: 15% 15% 15% 15%; }

/* ============================================
                   PANEL 2
============================================= */
.memory {
  overflow: scroll;
  height: 40em;
  text-align: center; }
  .memory button {
    border: 0.125em solid #808080;
    border-radius: 1em;
    background-color: #3e3e3e;
    padding: 0.6em;
    color: #808080;
    text-align: center;
    font-size: 1.5em;
    width: 80%; }
    .memory button:hover {
      color: #3e3e3e;
      background-color: #808080; }
  .memory td {
    text-align: center; }
