
@model IEnumerable<Mvc5Calculator.Models.Converter>

<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<table>
    @foreach (var item in Model)
    {

        <tr id="convexp">
            <td>
                @Html.DisplayFor(modelItem => item.FromValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromUnit)
            </td>
            <td> = </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUnit)
            </td>
        </tr>
    }
</table>
    